.venv
*.code-workspace
**__pycache__
dist
build
tests
**.old
src/*.xml
src/*.json
src/resources_rc.py
interface
DIP_with_fomod
*.bsa
res/ffdec/ffdec.bat
DIP_*.7z
mypy.ini
DIP.log
version.txt
main.dist
