# GUI
qtawesome
PySide6
QtPy

# Distribution
cx_freeze  # seems to be fine with AV
nuitka  # severe issues with AV (trojan)
pyinstaller==6.1  # 3 detecions on VT
pyinstaller-versionfile  # for versioninfo

# File System and Archiving
lz4
virtual_glob
rarfile
py7zr

# Utilities
jstyleson
pyperclip
