# GUI
qtawesome
PySide6
QtPy

# Distribution
# cx_freeze  # issues with something
pyinstaller==6.1 # 1 detecions on VT probably caused by ffdec

# File System and Archiving
lz4
virtual_glob
rarfile
py7zr

# Utilities
jstyleson
pyperclip
