# GUI
qtawesome
PySide6
QtPy

# Distribution
# cx_freeze  # seems to be fine with AV
pyinstaller # 3 detecions on VT

# File System and Archiving
lz4
virtual_glob
rarfile
py7zr

# Utilities
jstyleson
pyperclip
